/* media queries for small devices  */
@media screen and (max-width: 576px) {

    .nav-title,
    .anchor-container,
    .btn-nav {
        display: none;
    }

    .navi-bar {
        display: block;
        width: 30px;
        height: auto;
    }

    .nav-container {
        border-bottom: 0.5px solid rgb(254, 163, 1);
        padding: 12px 16px;
        width: auto;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* banner section */
    .banner-container {
        flex-direction: column-reverse;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .banner-content {
        text-align: center;
    }

    /* curriculum section  */
    .curriculum-title {
        margin-bottom: 30px;
    }

    .curriaulum-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .curriculam-card {
        width: auto;
        margin: 10px 30px;
    }

    .c-buton {
        display: none;
    }
    /* stories */

    #sories-card-1 {
        display: none;
    }

    #sories-card-7,
    #sories-card-6 {
        display: block;
    }

    .our-stories-section {
        padding: 0px 0;
    }

    .stories-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 30px 0;
        /* max-width: 576px; */

    }

    .stories-card {
       width: 173.09px;
        height: 179.59px;
        justify-self: center;

    }

    .stories-title {
        font-size: 0.8rem;
        font-weight: 700;
        margin-left: 10px;
        margin-top: 10px;
    }

    .stories-button {
        color: rgb(255, 255, 255);
        padding: 5px;
        font-size: 0.8rem;
        font-weight: 500;
        top: 93px;
        left: 10px;
    }
    .s-b-container{
        padding-bottom: 30px;
    }
    /* footer */
    .footer-container{
        grid-template-columns: 1fr;
        margin-left: 30px;
        gap: 30px;
    }
}





/* media queries for medium devices  */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-title {
        display: none;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .banner-content {
        text-align: center;
    }

    .curriaulum-card-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .curriculam-card {
        margin-bottom: 20px;
        /* width: auto; */
        margin: 10px 30px;
    }
    /* stories section */

    #sories-card-1 {
        display: none;
    }

    #sories-card-7,
    #sories-card-6 {
        display: block;
    }

    .our-stories-section {
        padding: 0px 0;
    }

    .stories-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 30px 0;
        /* max-width: 576px; */

    }

    .stories-card {
        width: 300.69px;
        height: 301.61px;
        justify-self: center;

    }

    .stories-title {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 20px;
        margin-top: 20px;
    }

    .stories-button {
        color: rgb(255, 255, 255);
        padding: 8px;
        font-size: 1rem;
        font-weight: 500;
        top: 170px;
        left: 10px;
    }
    /* footer */
    .footer-container{
        padding-left: 30px;
    }
    .footer-nav-container{
        display: none;
    }
}