/* media queries for small devices  */
@media screen and (max-width: 576px) {

    .nav-title,
    .anchor-container,
    .btn-nav {
        display: none;
    }

    .navi-bar {
        display: block;
        width: 30px;
        height: auto;
    }

    .nav-container {
        border-bottom: 0.5px solid rgb(254, 163, 1);
        padding: 12px 16px;
        width: auto;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* banner section */
    .banner-container {
        flex-direction: column-reverse;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .banner-content {
        text-align: center;
    }

    /* curriculum section  */
    .curriculum-title {
        margin-bottom: 30px;
    }

    .curriaulum-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .curriculam-card {
        width: auto;
        margin: 10px 30px;
    }

    .c-buton {
        display: none;
    }
}





/* media queries for medium devices  */
@media screen and (min-width: 557px) and (max-width: 992px) {
    .nav-title {
        display: none;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .banner-content {
        text-align: center;
    }

    .curriaulum-card-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .curriculam-card {
        margin-bottom: 20px;
        /* width: auto; */
        margin: 10px 30px;
    }
}